#bazawiedzy .pagechapter div {
  margin: 15px 15px;
  column-count: 3;
  column-gap: 2%;
  column-rule: 1px solid $localgreen;
}

.bazawiedzy-text {
  column-count: 3;
  column-gap: 2%;
  column-rule: 1px solid $localgreen;
  margin: 15px 15px;
  border: 2px solid $localgreen;
  font-size: 0.8rem;
  line-height: 1.3;
  padding: 1rem 1rem;
}

.bazawiedzy__header {
  font-size: 1rem;
  color: $localgreen;
}
