@import 'reset';
@import 'variables';
@import 'fonts';
@import 'mixins';
@import 'button';

html {
  font-size: 16px;
  @include mobile {
    font-size: 12px;
  }
}

body {
  font: 14px/2 "Open sans", sans-serif;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
@import 'slideshow';
@import 'header';
@import 'intro';

.sticky {
  top: 0;
  position: fixed;
}

.container {
  padding: 0 20px;
  color: #989898;
}
@import 'menu';
@import 'page';
@import 'footer';
@import 'bazawiedzy';


.successStyle {
  @extend .btn;
  border-color: $localgreen;
  color: $localgreen
}

.failureStyle {
  @extend .btn;
  color: orange;
  border-color: orange;
}

.message {
  @include flexHorizontalCentered;
}

@import 'emblems&icons';
